SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
SERVER = 'http://apius.faceplusplus.com/'

API_KEY = 'b7c0774564ac21ae1b4e2f6ab66038fc'
API_SECRET = 'iIZN7-OzqdnYKfa10Jxv14Uk6C73sefe'
